.header{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 130px;
    width: 100%;
    z-index: 1;

    &__mobile--icon{
        @media(min-width: $md2+px){
            display: none;
        }
    }

    &__inner{
        @media(max-width: $md2+px){
            padding: 52px 0px 0px 0px;
        }
    }

    &__links{
        display: flex;
        align-items: flex-end;
        gap: 15px;

        &--imgs{
            display: none;
            @media(min-width: $md2+px){
                display: flex;
                align-items: flex-end;
                gap: 15px;
            }
        }

        &--img{
            padding: 80px 5px 10px 5px;
            &:first-child{
                padding: 80px 11px 10px 11px;
            }
        }

        a{
            transition: all .3s ease;
            @media(any-hover:hover){ 
                &:hover{
                    background-color: #06dd06;
                }
            }
        }

        &--icon{
            width: 52px;
            height: 52px;
            background-color: #06dd06;
            box-shadow: 0px 0px 30px #06dd06;
            border-radius: 4px;
        }
    }

    &__logo{
        position: relative;
        display: flex;
        align-items: flex-end;

        &--img{
            img{
                @include adaptiv-value('width',160,120,1);
            }
        }

        a{
            position: absolute;
            bottom: -25%;
            left: -50%;
            transform: translateX(-50%);
        }
    }

    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__contacts{
        display: flex;
        align-items: flex-end;

        &--icon{
            width: 52px;
            height: 52px;
            background-color: #06dd06;
            box-shadow: 0px 0px 20px #00c700;
            border-radius: 4px;
        }
    }

    &__btn{
        display: none;
        @media(min-width: $md2+px){
            display: flex;
        }
        align-items: center;
        @include adaptiv-value('font-size',21,15,1);
        color: #fff;
        border: 1px solid #0b960b;
        box-shadow: inset 0px 0px 10px #0b960b, 0px 0px 10px #0b960b;
        font-family: $font-family-Alpha;
        padding: 20px;
        transition: all .3s ease;
        animation-duration: 2s;
        animation-name: glow;
        animation-iteration-count: infinite;

        img{
            padding: 0px 0px 0px 15px;
        }

    }

}

// Анимации //

@keyframes glow {
    0% {
        box-shadow: inset 0px 0px 10px #0b960b, 0px 0px 10px #0b960b;
    }

    50%{
        box-shadow: inset 0px 0px 22px #0b960b, 0px 0px 22px #0b960b;
    }
  
    100% {
        box-shadow: inset 0px 0px 10px #0b960b, 0px 0px 10px #0b960b;
    }

  }